body{
/*margen predeterminado de las paginas web*/
    margin: 0;
    /*margen pa' dentro*/
    padding: 0;
    /*Tamaño de fuente*/
    font-size: 12px;
    /*fuente de texto*/
    font-family: "Poetsen One", sans-serif;
}

/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/***********************************************************************************************************************************/

header{
    background-color: #ffffff;
    width: 100%;
    height: 60px;

}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
list-style:none;
width: 250px;
display: flex;
justify-content: space-between;
align-items: center;
height: auto;
}

nav.nav-right-section a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87)
}

.nav-right-section .menu{
    background-image: url(https://ssl.gstatic.com/gb/images/bar/al-icon.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-right-section img{
    margin-right: 20px;
    border-radius: 100%;
}

/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/***********************************************************************************************************************************/

main { 
    margin-top: 10% 0 50px 0;
    text-align: center;
}

main .main-logo{
    background-color: #AFBBF2;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 0% auto;

}

main .main-logo img{
    height: 250px;
    display: flex;
    /*justify-content: center;¨*/
    align-items: center;
    
}

/*INPUT SECTION*/
main .main-input{
    background-color: #a563e8b3;
    width: 500px;
    margin: 0% auto;
    /*Agregar margen inferior*/
}

main .main-input-container {
    background-color: rgb(252, 254, 255);
    width: 500px;
    border: 5px groove #ffffff;
    border-radius: 20px;
}

main .main-input input{
    height: 35px;
    border: none;
    outline: none;
    width: 390px;
}

main .main-input .search-icon {
background-image: url(https://icon-library.com/images/google-search-icon/google-search-icon-13.jpg);
background-size: contain;
background-position: center;
padding-left: 6%;
/*   PARA QUE NO SE REPITA EL ÍCONO */
background-repeat: no-repeat;
width: 25px;
height: 25px;
margin-right: 10px;
margin-left: 10px;
}

main .main-input .micro-icon {
background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
width: 15px;
height: 15px;
background-size: contain;
background-position: center;
padding-left: 5%;
background-repeat: no-repeat;

}

main .main-input .cam-icon {
background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
width: 15px;
height: 15px;
background-size: contain;
background-position: center;
padding-left: 5%;
background-repeat: no-repeat;
margin-right: 10px;
}

main .main-input-container:hover {
box-shadow: 0 1px 6px #a7afbd;
border-color: #dfe1e500;
}

/* MAIN BUTTONS SECTION */
main .main-buttons {
/* anchura */
width: 550px ;
/* Vertical ~ Horizontal */
margin: 0 auto;
}

main .main-buttons div {
/* Alinear elementos en la misma línea */
display: inline;
}

main .main-buttons button {
/* SEPARACIÓN ENTRE BUSCADOR Y BOTONES */
margin-top: 30px;
/* Eliminar borde negro -- NONE or 0px */
border: none;
height: 40px;
background-color: #f8f9fa;
/* Color de texto */
color: #3c4043;
border-radius: 5px;
padding: 0px 15px;
font-size: 14px;
margin-right: 10px;
}

main .main-buttons button:hover{
color: #131415;
/* borde + oscuro al pasar mouse */
border: 1px solid #dadce0;
/* Sombra al pasar mouse */
box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
}

.uU7dJb {
    padding: 15px 30px;
    border-bottom: 1px solid var(--gS5jXb);
    font-size: 15px;
    color: var(--YLNNHc);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .KxwPGc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .SSwjIe {
    padding: 0 20px;
  }